* {
  box-sizing: border-box;
}

.list {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  width: 60%;
  left: 53%;
  margin-top: 96px;
  transform: translate(-53%);
}

.listCard {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  top: 50%;
  left: 20%;
  transform: translate(0, 15%);
  overflow: hidden;
}

.listCard > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 24px;
}

.listCard > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 24px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.card {
  width: 45ch;
  height: 45ch;
  border-radius: 5px;
  background-position: center center;
}

.card:hover {
  transition: transform 1s;
}

.dot {
  margin: 0 !important;
  background-color: rgb(107, 115, 112) !important;
  border-color: rgb(107, 115, 112) !important;
  transition: transform 0.4s;
}

.dot :hover {
  transform: scale(1.2);
}

.seperator {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.seperator :hover {
  transform: scale(1.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.connector {
  background-color: rgb(107, 115, 112) !important;
  transform: scale(1) !important;
  width: 5px !important;
}

.timelineButton {
  color: rgb(234, 250, 240) !important;
  height: 100%;
  padding-left: 22px !important;
  width: 100%;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.timelineContentActive {
  opacity: 1;
  height: 38px;
  padding: 0 !important;
  transform: translate(-20px);
  border-radius: 5px;
  background-color: rgb(107, 115, 112) !important;
  z-index: -1;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
  border: rgb(107, 115, 112) !important;
}

.button {
  cursor: pointer;
  margin: 16px;
}

.button :hover {
  transform: scale(1.2);
  transition: transform 0.6s;
}

.icon {
  transition: transform 0.3s, box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.54);
}

.icon :hover {
  transform: scale(1);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.arrow {
  margin: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.54);
}

.arrow :hover {
  transform: scale(1);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.seperator :active {

  animation: spin 0.6s 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.details {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}