.hex1 {
    content: " ";
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    position: absolute;
    top: -25px;
    width: 0;
}

.hex {
    width: 90px;
    height: 51px;
    position: relative;
    transform: rotate(90deg);
}

.hex2 {
    content: "";
    width: 0;
    position: absolute;
    bottom: -25px;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
}
